<div class="list-group" *ngFor="let booking of bookings">
  <div class="mb-2 list-group-item bg-dark text-light">
    <div class="d-flex w-100 justify-content-between">
      <a
        routerLink="/edit-booking/{{ booking.id }}"
        class="mb-1 h5 text-decoration-none text-light"
      >
        {{ booking.name }}
      </a>
      <button (click)="deleteBooking(booking)" class="btn btn-danger">
        Delete
      </button>
    </div>
    <p class="mb-1">
      {{ booking.startDate | date: "dd/MM/yy" }} -
      {{ booking.endDate | date: "dd/MM/yy" }}
    </p>
    <small> Room {{ booking.roomNumber }}</small>
  </div>
</div>
