<div class="card bg-dark text-light border-light">
  <div class="card-header border-light">
    <h5>Eine neue Buchung erstellen</h5>
  </div>
  <form [formGroup]="bookingForm" (ngSubmit)="save()">
    <div class="card-body border-light">
      <div class="row">
        <div class="col-4 mx-4">
          <label for="exampleInputName" class="form-label">Guest Name</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputName"
            aria-describedby="nameHelp"
            formControlName="name"
          />
          <div id="nameHelp" class="form-text"></div>
          <label
            *ngIf="bookingForm.get('name')?.hasError('minlength')"
            for="exampleInputName"
            class="text-warning"
            >Der Name ist zu Kurz</label
          >
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-2 mx-4">
          <label for="exampleInputId" class="form-label">ID</label>
          <input
            type="number"
            class="form-control"
            id="exampleInputId"
            aria-describedby="IdHelp"
            formControlName="id"
          />
          <div id="IdHelp" class="form-text">Bitte ID eingeben.</div>
        </div>
        <div class="col-2 mx-4">
          <label for="exampleInputRoom" class="form-label">Raumnummer</label>
          <input
            type="number"
            class="form-control"
            id="exampleInputRoom"
            aria-describedby="roomHelp"
            formControlName="roomNumber"
          />
          <div id="roomHelp" class="form-text">Bitte Raumnummer vergeben.</div>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-2 mx-4">
          <label for="exampleInputDate" class="form-label"
            >Ankunfts Datum</label
          >
          <input
            type="date"
            class="form-control"
            id="exampleInputDate"
            aria-describedby="dateHelp"
            [value]="booking.startDate | date: 'yyyy-MM-dd'"
            (input)="dateChanged($event, true)"
            name="arrivalDate"
            formControlName="startDate"
          />
          <div id="dateHelp" class="form-text">
            Bitte Datum der Ankunft eintragen
          </div>
        </div>
        <div class="col-2 mx-4">
          <label for="exampleInputDepartureDate" class="form-label"
            >Abreise Datum</label
          >
          <input
            type="date"
            class="form-control"
            id="exampleInputDepartureDate"
            aria-describedby="dateDepartureHelp"
            [value]="booking.endDate | date: 'yyyy-MM-dd'"
            (input)="dateChanged($event, false)"
            name="departureDate"
            formControlName="endDate"
          />
          <div id="dateDepartureHelp" class="form-text">
            Bitte Datum der Abreise eintragen
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center border-light">
      <button
        [disabled]="bookingForm.invalid"
        type="submit"
        class="btn btn-primary"
      >
        Erstellen
      </button>
    </div>
  </form>
</div>
